@charset "utf-8";
/* CSS Document */

/*Medium Screen */
@media (max-width: 1021px) {

 .site-container {
    max-width: 90%;
}
.sub-nav{
  display: none;
}
.primary {
  height: inherit;
  overflow: hidden;
}
.primary .content-wrap{
  margin: 0 auto;
}
.primary .content-wrap .content{
  width: auto;
}
.primary .content-wrap-alt{
  margin: 20px 0 0 0;
  width: 100%;
}
.secondary .project-list-item{
  height: auto;
}

.secondary .project-list-item .content-wrap .content{
  width: auto;
}

.tertiary .content .image{
  width: 135px;
  height: 135px;
}
.tertiary .content img{
  width: 135px;
}
}

/*Small Screen */
@media (max-width: 850px) {

  .post{
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
.entry{
  padding: 60px 25px 0 25px;
}
.secondary .project-list-item .content-wrap {
    width: 100%;
    padding: 30px;
  }
.secondary .content-wrap-alt{
  display: none;
}
footer{
  min-height:100px;
}
footer .content{
  margin: 0 auto;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: none;
}
footer .content-alt {
    margin: 0 auto;
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
}
.fa{
  font-size: 1.3em
}
}
